@import "tailwindcss";

.bg-custom-primary {
    background-color: #6E866B;
}

.bg-custom-secondary {
    background-color: #83A790;
}

.bg-custom-tertiary {
    background-color: #F5A50D;
}

.bg-custom-quaternary {
    background-color: #DD6048;
}

.text-custom-primary
{
    color: #6E866B;
}

* {
    font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
